<% provide(:title, 'ストーブ') %>
<div>
  <table class="table table-bordered table-condensed" id="maint-table">
    <thead>
      <tr>
        <th>受付日</th>
        <th>氏名</th>
        <th>進捗</th>
        <th>煙突</th>
        <th>本体</th>
        <th>電話</th>
        <th>携帯</th>
        <th>郵便</th>
        <th>住所</th>
        <th>備考</th>
      </tr>
    </thead>
    <tbody>
      <% @stovemaints.each do |stovemaint| %>
        <tr>
          <th><%= stovemaint.signup_at.strftime('%m/%d') %></th>
          <th><%= stovemaint.name %></th>
          <th><%= stovemaint.progress %></th>
          <th><%= stovemaint.detailed_1 %></th>
          <th><%= stovemaint.detailed_2 %></th>
          <th><%= stovemaint.phone %></th>
          <th><%= stovemaint.mobile %></th>
          <th><%= stovemaint.postcode %></th>
          <th><%= stovemaint.address %></th>
          <th><%= stovemaint.note %></th>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
