<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "修理管理", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top",   root_path %></li>
        <li><%= link_to "修理管理表", '#' %></li>
        <li><%= link_to "ストーブメンテナンス", stovemaints_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
        <li><%= link_to "ログアウト", '#' %></li>
      </ul>
    </nav>
  </div>
</header>